<app-navbar></app-navbar>

<div class="bg-black bg-opacity-10 p-6 flex justify-center">
    <ul class="flex flex-wrap justify-center sm:justify-start">
        <li class="px-6 py-2 mx-2 text-gray-900 font-bold transform hover:scale-110">LÍPS</li>
        <li class="px-6 py-2 mx-2 text-gray-900 font-bold transform hover:scale-110">ÉYÉS</li>
        <li class="px-6 py-2 mx-2 text-gray-900 font-bold transform hover:scale-110">FÀCÉ</li>
        <li class="px-6 py-2 mx-2 text-gray-900 font-bold transform hover:scale-110">SKÍNCÀRÉ</li>
        <li class="px-6 py-2 mx-2 text-gray-900 font-bold transform hover:scale-110">FRÀGRÀNCÉ</li>
        <li class="px-6 py-2 mx-2 text-gray-900 font-bold transform hover:scale-110">CÓMBÓ</li>
        <li class="px-6 py-2 mx-2 text-gray-900 font-bold transform hover:scale-110">NÀÍL</li>
    </ul>
</div>



  
  
  
